body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
    color: #FD9F9F;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 4fr;
    grid-template-rows: 1fr repeat(2, 1fr) repeat(2, 1fr);
    grid-template-areas:
    "name name name name"
    "working-experience picture picture education"
    "projects picture picture certificates"
    "scholarships picture picture volunteering"
    "hobbies hobbies hobbies hobbies";
}

.picture {
    grid-area: picture;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.picture img {
    max-width: 100%;
    height: auto;
}

.categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

.categories a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.categories a:hover {
    color: #555;
}

.education {
    grid-area: education;
}

.working-experience {
    grid-area: working-experience;
}

.volunteering {
    grid-area: volunteering;
}

.projects {
    grid-area: projects;
}

.scholarships {
    grid-area: scholarships;
}

.certificates {
    grid-area: certificates;
}

.hobbies {
    grid-area: hobbies;
}

.name {
    grid-area: name;
}