<html>
<head>
    <title>Education</title>
    <link rel="stylesheet" type="text/css" href="../static/education.css">
</head>
<body>
<header>
    <h1>Education</h1>
</header>
<main>
    <div class="grid-container">
        <div class="name categories">
            <h1>2017-2022 Bachelor in Teaching, Kazan Federal University</h1>
        </div>
        <div class="picture">
            <img src="../static/ifmk.jpg" alt="IFMK Picture">
        </div>
    </div>
</main>
<a href="portfolio">
    <img src="backbutton.jpg" alt="Иконка">
</a>
<footer>
</footer>
</body>
</html>
