<html>
<head>
    <title>Education</title>
    <link rel="stylesheet" type="text/css" href="../static/education.css">
</head>
<body>
<header>
    <h1>{{ translations.get('education') }}</h1>
</header>
<main>
    <div class="grid-container">
        <div class="info categories">
            <h2>{{ translations.get('inst') }}</h2>
        </div>
        <div class="picture">
            <img src="../static/university.jpg" alt="IF Picture">
        </div>
    </div>
</main>
<a href="portfolio">
    <img src="back.png" alt="Back">
</a>
<footer>
</footer>
</body>
</html>