<html>
<head>
    <title>Hobbies</title>
    <link rel="stylesheet" type="text/css" href="../static/hobbies.css">
</head>
<body>
<header>
    <h1>{{ translations.get('hobbies') }}</h1>
</header>
<main>
    <div class="grid-container">
        <div class="info categories">
            <h2><font color="MidnightBlue">{{ translations.get('volleyball') }}</font></h2>
            <h2><font color="Navy">{{ translations.get('football') }}</font></h2>
            <h2><font color="DarkBlue">{{ translations.get('book') }}</font></h2>
            <h2><font color="MediumBlue">{{ translations.get('plants') }}</font></h2>
            <h2><font color="Blue">{{ translations.get('crosswords') }}</font></h2>
        </div>
    </div>
</main>
<a href="portfolio">
    <img src="back.png" alt="Back">
</a>
<footer>
</footer>
</body>
</html>