<html>
<head>
    <title>Information</title>
    <link rel="stylesheet" type="text/css" href="../static/information.css">
</head>
<body>
<header>
    <h1>{{ translations.get('information') }}</h1>
</header>
<main>
    <div class="grid-container">
        <div class="info categories">
            <h2><font color="RoyalBlue">{{ translations.get('year') }}</font></h2>
            <h2><font color="Navy">{{ translations.get('city') }}</font></h2>
            <h2><font color="DarkBlue">{{ translations.get('play') }}</font></h2>
            <h2><font color="MediumBlue">{{ translations.get('winter') }}</font></h2>
            <h2><font color="Blue">{{ translations.get('birthday') }}</font></h2>
        </div>
    </div>
</main>
<a href="portfolio">
    <img src="back.png" alt="Back">
</a>
<footer>
</footer>
</body>
</html>