<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Pets</title>
    <link rel="stylesheet" type="text/css" href="../static/mypets.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" rel="stylesheet">
</head>
<body>
    <h1>My cat</h1>
        <div class='container'>
            <h2>Mifan: sometimes dumb and mean, sometimes the cutest pet ever</h2>
    <div class='main'>
      <div class='spacer'>
        <div class='cards'>
          <div class='col'>
            <img src="../static/Mione.jpg">
          </div>
            <div class='col'>
                <img src="../static/Mitwo.jpg">
            </div>
            <div class='col'>
            <img src="../static/Mithree.jpg">
            </div>
          <div class='col'>
            <img src="../static/Mifour.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>