<!DOCTYPE html>
<html>
<head>
  <title>MY UNIVERSITY</title>
  <link rel="stylesheet" type="text/css" href="../static/portfolio.css">
</head>
<body>
<header>
  <h1>My Portfolio</h1>
</header>
<main>
  <div class="grid-container">
    <div class="name categories">
      <h1>Harold Pain</h1>
    </div>
    <div class="education categories">
      <a href="#">Education</a>
    </div>
    <div class="working-experience categories">
      <a href="#">Working Experience</a>
    </div>
    <div class="volunteering categories">
      <a href="/random">Volunteering Activity</a>
    </div>
    <div class="projects categories">
      <a href="#">Projects</a>
    </div>
    <div class="scholarships categories">
      <a href="https://github.com/ewewraw/flask-for-beginners-course/blob/master/main2.py">Scholarships</a>
    </div>
    <div class="certificates categories">
      <a href="#">Certificates</a>
    </div>
    <div class="picture">
      <img src="../static/harold.webp" alt="Profile Picture">
    </div>
    <div class="hobbies categories">
      <a href="#">Hobbies</a>
    </div>
  </div>
</main>
</body>
</html>