<!DOCTYPE html>
<html lang="en">
<head>
<title>{{ translations.get('exp') }}</title>
</head>
<body>
<h1>{{ translations.get('exp') }}</h1>
<p>{{ translations.get('exper') }}</p>
<section>
    <h2>{{ translations.get('schools') }}</h2>
<p>{{ translations.get('text') }}</p>
</section>
<section>
<h2>{{ translations.get('other') }}</h2>
<ul>
    <li>{{ translations.get('china') }}</li>
    <li>{{ translations.get('kfu') }}</li>
    <li>{{ translations.get('online') }}</li>
</ul>
</section>
</body>
</html>
